* {
    font-family: 'Kinetic';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EDF5FF;
}
#FOlogo{
    width: 3.2rem;
}
#orangeInsta{
    width: 1.5rem;
}
#greenInsta{
    width: 1.5rem;
}
header{
    display: flex;
    padding: 1rem 6rem;
    position:fixed;
    background-color: white;
    width:100%;
    z-index: 99;
}
nav{
    display:flex;
    width: 100%;
    align-items: center;
}
.instaLogos{
    margin-left: auto;
}
.instaLogos li{
    display: flex;
    align-items: center;
}
.navBar, .instaLogos{
    display: flex;
    list-style: none;
}
.navBar a, .instaLogos a{
    text-decoration: none;
    color:black;
}
.navBar li, .instaLogos li{
    margin-left: 2rem;
}
#orangeText{
    color:#D98D09;
    margin-left: 0.3rem;
}
#greenText{
    color:#0BB55A;
    margin-left: 0.3rem;
}
#ProgrammingUnderline{
    width: 2rem;
    text-decoration-color:#4B4BFF;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.2rem;
}
main > section{
    padding: 0 6rem;
}
#heroSection{
    background-color: #EDF5FF;
    width: 100%;
    align-items: center;
    display: flex;
    height: 90vh;
    left:0;
    right:0;
}
#heroSection button{
    background-color:#4B4BFF;
    border: none;
    padding: 1rem 2rem;
    border-radius:10px;
    font-size: 1.1rem;
    margin-top:2rem;
    color:white;
    cursor: pointer;
    transition: 0.3s;
}
#heroSection button:hover{
    background-color:#1f1154;
    color:#b2a6ff;
}
h1{
    font-size: 4rem;
    width: 35rem;
}
p{
    width:30rem;
    font-size:1.2rem;
    margin-top: 1.5rem;
}
#ProgrammingIllustration{
    width:33rem;
    margin-left: 12rem;
}
#purplearrow{
    width: 2rem;
    bottom: 5rem;
    left: 50%;
    margin-left: -20px;
    position: relative;
}
.bounce{
    width: 100%;
}
.bounce{
    animation: bounce 2s infinite;
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
}
#materialeText{
    display: flex;
}
#MaterialeText1{
    margin-bottom: 2rem;
}
#MaterialeText2{
    margin-left: 4rem;
}
.pozeMateriale{
    margin-bottom: 4rem;
}
#pozaPensule{
    height: 40vh;
    width: 45vh;
}
#pozaVopsele{
    height: 40vh;
    width: 40vh;
}
#pozaHartie{
    height: 40vh;
}
#pozaPanza{
    height:40vh;
}
#inspiratieText{
    margin-bottom: 2rem;
}
#pozaApus{
    height: 40vh;
    width: 45vh;
}
#pozaCopaci{
    height: 40vh;
    width: 40vh;
}
#pozaPadure{
    height: 40vh;
    width: 45vh;
}
#pozaArhitectura{
    height: 40vh;
    width: 45vh;
}
#pozaApus2{
    height: 40vh;
    width: 45vh;
}
#pozaAustria{
    height: 40vh;
    width: 40vh;
}
#executie{
    margin-top: 4rem;
}
#textExecutie{
    display: flex;
    margin-bottom: 2rem;
}
#textExecutiePeisaje{
    margin-left: 4rem;
}
#executie1{
    height: 45vh;
    width: 35vh;
}
#executie2{
    height: 45vh;
    width: 35vh;
}
#executie3{
    height: 45vh;
    width: 35vh;
}
#executie4{
    height:45vh;
    width:35vh;
}
.pozeExecutie{
    margin-bottom: 6rem;
}
#executieDesignText{
    display: flex;
    margin-bottom: 2rem;
}
#executieDesign2{
    margin-left: 4rem;
}
#Executie1{
    height:40vh;
    width:50vh;
}
#Executie2{
    height:40vh;
    width:40vh;
}
#Executie3{
    height:40vh;
    width:40vh;
}
#Executie4{
    height:40vh;
    width:40vh;
}
#Executie5{
    height:40vh;
    width:45vh;
}
#Executie6{
    height:40vh;
    width:45vh;
}
#ContactSection{
    justify-content: space-between;
    align-items: center;
    display:flex;
    background-color: #EDF5FF;  
    width:100%;
    height:90vh;
    left:0;
    right:0;
}
input{
    padding: 0 10px; 
}
textarea{
    padding: 6px 10px;
}
#ContactIllustration{
    width: 30rem;
}
h2{
    font-size:3rem;
    width: 30%;
    margin-bottom: 2rem;    
}
textarea{
    height:140px;
    width:600px;
    border-radius: 7px;
    border:none;
    margin-top:0.5rem;
    font-size: 17px;
}
input[type="text"] {
    width: 600px;
    height: 30px;
    border-radius: 7px;
    margin-top:0.5rem;
    margin-bottom: 0.5rem;
    border:none;
    font-size: 17px;
}
#submitButton{
    border:none;
    background-color: #4B4BFF;
    color:white;
    border-radius: 10px;
    font-size:1.2rem;
    padding: 1rem 3.2rem;
    cursor:pointer;
    margin-top: 1rem;
    transition: 0.3s;
}
#ContactSection button:hover{
    background-color:#1f1154;
    color:#b2a6ff;
}
#emailbox{
    font-size: 1.2rem;
}
#messagebox{
    font-size: 1.2rem;
}
.textBoxes{
    margin-left: -35.3rem;
}
#ContactTitle{
    font-size: 3rem;
    margin-top:-22rem;
}
body > footer{
    padding: 0 6rem;
}
.footerText{
    background-color: white;
    width:100%;
    margin-bottom: 2rem;   
}
.footerText a{
    text-decoration: none;
    color:#4B4BFF;
}